.article {
    max-width: calc(1280px + 4vw);
    padding: 0 48px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 16vh;
    counter-reset: sidenotes markers;

    .container {
        padding: 0;
    }

    main {
    }

    aside {
        position: relative;
        width: 100%;
        margin-bottom: 4vh;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: c('base-4');
            background: linear-gradient(to right, c('base-4') 65%, transparent);
        }

        @include mq('laptop-small') {
            max-width: 300px;

            &::after {
                display: none;
            }
        }

        section {
            position: relative;
            // padding-top: 1em;
            margin-bottom: 2em;

            .button {
                margin-bottom: 0.5em;
            }
        }

        .shapes {
            display: none;

            @include mq('laptop-small') {
                display: block;
            }
        }
    }

    .article-track {
        margin-left: 0;

        @include mq('laptop-small') {
            margin-left: 4vw;
        }

        > [data-sticky] {
            position: sticky;
            top: 6vh;
        }
    }

    .article-content {
        padding-top: 0;

        section:first-of-type {
            *:is(p):first-child,
            *:is(h2):first-child,
            *:is(h3):first-child {
                margin-top: 0;
            }
        }

        h2 {
            font-family: $font-1;
            //font-size: clamp(1.999rem, -0.875rem + 8.333vw, 3.998rem);
            @include fs-lg;
            font-weight: 600;
        }

        h3 {
            @include fs-md;
        }

        h4 {
            @include fs-md;
        }

        h5 {
            @include fs-sm;
        }

        h3,
        h4,
        h5 {
            margin-bottom: 0.25em;
        }

        h2,
        h3 {
            position: relative;
        }

        p,
        ol,
        ul,
        dl,
        li,
        table,
        small {
            @include fs-xs;
            line-height: var(--line-height-xxl);
        }

        figure {
            margin-top: flow('xxxl');
            margin-left: calc(#{flow('max')} * -1);
            margin-right: calc(#{flow('max')} * -1);

            @include mq('tablet') {
                margin-left: calc(#{flow('xxxl')} * -1);
                margin-right: calc(#{flow('xxxl')} * -1);
            }
        }
    }
}
