button,
input[type='submit'] {
    appearance: none;
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    font-size: clamp(1.22rem, -0.875rem + 8.333vw, 1.953rem);
}

.actions {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: 1vh 0;

    &-center {
        justify-content: center;
    }

    &-right {
        justify-content: flex-end;
    }
}

.reset {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
