canvas {
    display: block;
    position: absolute;
    left: 0; // position it to fill the whole screen
    top: 0; // position it to fill the whole screen
    pointer-events: none;
    user-select: none;
}
