pre,
code,
span[class='code'] {
    // font-family: 'Source Code Pro', monospace;
    // font-family: 'Fira Mono', monospace;
    font-family: $font-2;
    font-size: inherit;
    font-kerning: none;
    // font-weight: 500;
    font-weight: 400;
    line-height: 1.5;
}

pre {
    position: relative;
    font-size: 0.875rem;
    padding: 2em;
    margin: fs('xxl') auto;
    max-width: 100%;
    background: rgba(#d8dce3, 0.4);
    border-radius: 0.375em;
    overflow: hidden;
    overflow-x: auto;
    white-space: normal;

    html[theme='dark'] & {
        background: rgba(#0a0d0f, 0.4);
    }

    @include mq('tablet') {
        font-size: 1rem;
    }

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    code {
        color: c('base-5');
        line-height: 1.5;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        tab-size: 4;
        hyphens: none;
        overflow: auto;
        padding: 0;
        background: transparent;

        html[theme='dark'] & {
            color: c('base-2');
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: c('base-8');
            border-radius: 0.375em;
            opacity: 0.4;
            z-index: -1;
            user-select: none;
            pointer-events: none;
        }
    }

    .token {
        &.variable {
            //color: tomato;
        }

        &.property,
        &.tag,
        &.boolean,
        &.number,
        &.function-name,
        &.symbol,
        &.deleted {
            color: #f7768e;
            color: darken(#f7768e, 25%);

            html[theme='dark'] & {
                color: #f7768e;
            }
        }

        &.selector,
        &.attr-name,
        &.string,
        &.char,
        &.function,
        &.builtin,
        &.inserted {
            color: #73daca;
            color: darken(#73daca, 25%);

            html[theme='dark'] & {
                color: #73daca;
            }
        }

        &.atrule,
        &.attr-value,
        &.keyword,
        &.class-name {
            color: #89ddff;
            color: darken(#89ddff, 25%);

            html[theme='dark'] & {
                color: #89ddff;
            }
        }

        &.punctuation {
            color: #b267e6;
            color: darken(#b267e6, 25%);

            html[theme='dark'] & {
                color: #b267e6;
            }
        }

        &.string {
            color: #ffdb69;
            color: darken(#ffdb69, 25%);

            html[theme='dark'] & {
                color: #ffdb69;
            }
        }

        &.comment {
            color: #444b6a;
        }
    }
}

span[class='code'] {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em 0.45em;
    color: c('secondary-base');
    vertical-align: middle;
    font-weight: 500;
    font-size: 0.75rem;

    @include mq('tablet') {
        @include fs-mini;
    }

    + span[class='code'] {
        margin-left: 0.25em;
    }

    html[theme='dark'] & {
        color: c('tertiary-base');
    }

    a {
        color: c('secondary-base');
        transition: 0.3s ease;

        html[theme='dark'] & {
            color: c('tertiary-base');
        }

        &:hover {
            color: c('secondary-light');

            html[theme='dark'] & {
                color: c('tertiary-light');
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: c('secondary-base');
        opacity: 0.035;
        border-radius: 0.375rem;
        z-index: -1;
        user-select: none;

        html[theme='dark'] & {
            background: c('tertiary-base');
        }
    }
}

p span[class='code'] {
    word-break: break-all;
}
