pre,
code,
span[class='code'] {
    // font-family: 'Source Code Pro', monospace;
    // font-family: 'Fira Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-size: inherit;
    font-kerning: none;
    // font-weight: 500;
    font-weight: 400;
    line-height: 1.5;
}

pre {
    font-size: 0.875rem;
    padding: 2em;
    margin: 1.5em auto;
    max-width: 100%;
    background: c('base-5');
    border-radius: 0.25em;
    overflow: hidden;
    overflow-x: auto;
    white-space: normal;

    @include mq('tablet') {
        font-size: 1rem;
    }

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    html[theme='dark'] & {
        background: c('base-7');
    }

    code {
        color: c('base-9');
        line-height: 1.5;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        tab-size: 4;
        hyphens: none;
        overflow: auto;
        padding: 0;
        background: transparent;

        html[theme='dark'] & {
            color: c('base-2');
        }
    }

    .token {
        &.property,
        &.tag,
        &.boolean,
        &.number,
        &.function-name,
        &.symbol,
        &.deleted {
            color: #f7768e;
        }

        &.selector,
        &.attr-name,
        &.string,
        &.char,
        &.function,
        &.builtin,
        &.inserted {
            color: #73daca;
        }

        &.atrule,
        &.attr-value,
        &.keyword,
        &.class-name {
            color: #89ddff;
        }

        &.punctuation {
            color: #b267e6;
        }

        &.string {
            color: #ffdb69;
        }

        &.comment {
            color: #444b6a;
        }
    }
}

span[class='code'] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: c('grey-0');
    color: c('base-2');
    padding: 0.3em 0.45em;
    vertical-align: middle;
    border-radius: 0.25em;
    font-size: 1rem;
    font-weight: 500;

    + span[class='code'] {
        margin-left: 0.25em;
    }
}

p span[class='code'] {
    word-break: break-all;
}
