html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    position: relative;
    background: c('background');
    color: c('base-0');
    line-height: 1;
    overflow-x: hidden;
    transition: background 1s ease, color 1s ease;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

#__app {
    background-color: c('background');
    min-height: 100vh;
}

main {
    position: relative;
    //background-color: c('background');
    min-height: 100vh;
    padding-top: var(--offset);
    z-index: 5;
}

.page-spacer {
    padding: 0 1.25em;

    @include mq('phone-small') {
        padding: 0 1.875em;
    }
    @include mq('phone-large') {
        padding: 0 6.25em;
    }
    @include mq('laptop-small') {
        padding: 0 7.5em;
    }
    @include mq('laptop') {
        padding: 0 9.375em;
    }
    @include mq('laptop-large') {
        padding: 0 11.25em;
    }
    @include mq('desktop-small') {
        padding: 0 13.75em;
    }
    @include mq('desktop') {
        padding: 0 16.875em;
    }
}

section,
header,
footer,
article {
    width: 100%;
    margin: 0 auto;

    .container {
        margin: 0 auto;
        @extend .page-spacer;
    }
}

article {
    margin: 0 auto;
    margin-top: 10vh;
    @extend .page-spacer;

    main {
        order: 2;
        max-width: 100%;
        width: 100%;

        @include mq('laptop-small') {
            max-width: 50em;
            flex: 1;
            order: 0;
        }
    }

    aside {
        position: relative;
        z-index: 10;
    }
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

a {
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}
