body {
    position: relative;
    background: c('background');
    color: c('base-0');
    line-height: 1;
    overflow-x: hidden;
    transition: background 1s ease, color 1s ease;
    scroll-behavior: smooth;
}

#__app {
    background-color: c('background');
    min-height: 100vh;
}

main {
    position: relative;
    //background-color: c('background');
    min-height: 100vh;
    padding-top: var(--offset);
    z-index: 5;
}

section,
header,
footer,
article {
    width: 100%;
    margin: 0 auto;

    .container {
        margin: 0 auto;
        padding: 0 20px;

        @media (min-width: 360px) {
            padding: 0 30px;
        }
        @media (min-width: 768px) {
            padding: 0 100px;
        }
        @media (min-width: 1024px) {
            padding: 0 120px;
        }
        @media (min-width: 1200px) {
            padding: 0 150px;
        }
        @media (min-width: 1350px) {
            padding: 0 180px;
        }
        @media (min-width: 1600px) {
            padding: 0 220px;
        }
        @media (min-width: 1920px) {
            padding: 0 270px;
        }
    }
}

article {
    margin: 0 auto;
    margin-top: 10vh;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

a {
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}
