a:not([class]),
a[class=''] {
    color: c('primary-base');
    text-decoration: none;
    box-shadow: 0px 0px 0px c('primary-base');
    transition: box-shadow 0.3s ease;

    &:hover,
    &:focus {
        color: c('primary-base');
        box-shadow: 0px 2px 0px c('primary-base');
    }
}

a[name] {
    // display: block;
    // width: 1px;
    // height: 1px;
}

@mixin external-color($color) {
    background-image: url('data:image/svg+xml,<svg width="168" height="169" viewBox="0 0 168 169" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M99.841 58.9134C82.8693 62.2172 65.2546 59.7876 53.3788 49.0933 52.558 48.3541 52.5589 47.0812 53.34 46.3001L59.6444 39.9957C60.4255 39.2147 61.6876 39.2218 62.5289 39.9376 78.3822 53.4271 110.419 46.8282 127.107 31.5825 127.923 30.8375 129.185 30.8353 129.966 31.6163L130.081 31.731C130.09 31.7397 130.099 31.7486 130.108 31.7575L136.613 38.2629C137.394 39.044 137.392 40.3065 136.647 41.1219 121.396 57.8086 114.736 89.791 128.292 105.701 129.008 106.542 129.015 107.804 128.234 108.585L121.93 114.889C121.149 115.67 119.876 115.671 119.136 114.85 108.442 102.975 106.013 85.3602 109.316 68.3885L40.4466 137.258C39.6655 138.039 38.3992 138.039 37.6181 137.258L30.9713 130.611C30.1903 129.83 30.1903 128.564 30.9713 127.783L99.841 58.9134z" fill="%23#{$color}"/></svg>');
}

@mixin download-color($color) {
    background-image: url('data:image/svg+xml,<svg width="97" height="141" viewBox="0 0 97 141" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M55.1999 100.055C64.8646 85.7176 79.0381 74.9801 94.9975 74.1447 96.1006 74.0869 97 74.9877 97 76.0923V85.0081C97 86.1126 96.1024 87.0001 95.0014 87.0888 74.253 88.7602 56.2656 116.08 55.2456 138.661 55.1958 139.764 54.3046 140.658 53.2 140.658H53 44 43.8C42.6954 140.658 41.8042 139.764 41.7546 138.66 40.7395 116.077 22.8338 88.7529 1.99862 87.0881.897561 87.0001-694524e-11 86.1126-689696e-11 85.0081L-650723e-11 76.0923C-645895e-11 74.9877.899431 74.0869 2.00249 74.1447 17.9619 74.9801 32.1353 85.7175 41.7999 100.054L41.8 2.6582C41.8 1.55363 42.6954.658201 43.8.658201H53.1999C54.3045.658201 55.1999 1.55363 55.1999 2.6582V100.055z" fill="%23#{$color}"/></svg>');
}

@mixin phone-color($color) {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.12" d="M18.9522 15.7381L19.6605 15.9151C20.4461 16.1115 20.8389 16.2097 21.1388 16.4174C21.4725 16.6486 21.7279 16.9757 21.8712 17.3555C22 17.6968 22 18.0916 22 18.8811C22 19.8953 22 20.4024 21.7915 20.8225C21.5771 21.2546 21.1194 21.6595 20.6644 21.8198C20.2221 21.9756 19.7876 21.9223 18.9186 21.8158C15.8039 21.4338 13.0221 20.467 10.6579 19C8.23342 17.4956 6.24802 15.4652 4.79292 13C3.44179 10.7109 2.54788 8.04699 2.18421 5.08119C2.07767 4.21233 2.02441 3.77791 2.18022 3.33555C2.34048 2.88055 2.74541 2.42294 3.17752 2.20849C3.59762 2 4.09459 2 5.08854 2C5.89832 2 6.30321 2 6.6445 2.12877C7.02426 2.27206 7.35144 2.52752 7.58256 2.86119C7.79026 3.16105 7.88846 3.55385 8.08486 4.33945L8.08486 4.33946L8.20715 4.82862L8.20716 4.82863C8.49761 5.99044 8.64284 6.57135 8.62096 7.14144C8.60158 7.64628 8.48674 8.14289 8.28251 8.60499C8.05189 9.1268 7.66637 9.58498 6.89534 10.5013L4.79292 13C6.24802 15.4652 8.23342 17.4956 10.6579 19L13.5641 16.8239L13.5641 16.8239C14.459 16.1539 14.9064 15.8188 15.4047 15.6219C15.8462 15.4474 16.3151 15.3529 16.7897 15.3428C17.3254 15.3313 17.8677 15.4669 18.9522 15.7381Z" fill="%23#{$color}"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.37971 2.83051C6.19768 2.76182 5.96102 2.75002 5.08852 2.75002C4.57881 2.75002 4.24376 2.75067 3.98252 2.77329C3.73485 2.79473 3.60708 2.8326 3.51091 2.88033C3.25373 3.00796 2.98298 3.31394 2.8876 3.58474C2.80285 3.82536 2.81457 4.05978 2.92862 4.98994C3.23168 7.46146 3.91348 9.70501 4.92295 11.6806L6.32144 10.0185C7.1211 9.06811 7.4193 8.70278 7.5965 8.30183C7.76244 7.92638 7.85575 7.52288 7.87149 7.1127C7.8883 6.67466 7.78077 6.2155 7.47953 5.01054L7.35724 4.52138C7.14563 3.67494 7.07679 3.44821 6.966 3.28827C6.82155 3.07972 6.61706 2.92006 6.37971 2.83051ZM5.71436 13.0698L7.4692 10.9842L7.54365 10.8958L7.54366 10.8958L7.54366 10.8958C8.2434 10.0645 8.69406 9.52912 8.96848 8.9082C9.21101 8.35945 9.34738 7.76973 9.37039 7.17022C9.39642 6.49186 9.22656 5.81299 8.9628 4.75891L8.93474 4.64674L8.81245 4.15758L8.78235 4.03686C8.61635 3.37033 8.48657 2.84921 8.19909 2.43416C7.8813 1.97536 7.43143 1.62411 6.90925 1.42708C6.43687 1.24885 5.89983 1.24933 5.21294 1.24995L5.08852 1.25002L5.05801 1.25002C4.58702 1.25001 4.1867 1.25 3.85313 1.27888C3.4988 1.30956 3.16802 1.37593 2.84409 1.5367C2.23704 1.83797 1.69795 2.4472 1.4728 3.0864C1.25741 3.6979 1.33197 4.30068 1.42481 5.05118L1.43977 5.1725C1.81498 8.23244 2.73938 10.9965 4.14702 13.3813C5.66356 15.9506 7.73479 18.0689 10.2624 19.6373C12.7265 21.1663 15.6136 22.1661 18.8273 22.5602L18.9486 22.5752C19.6992 22.668 20.3021 22.7426 20.9136 22.5272C21.5528 22.3021 22.162 21.763 22.4633 21.1559C22.6248 20.8304 22.6908 20.496 22.7212 20.1383C22.75 19.8002 22.75 19.3928 22.75 18.9115V18.8812L22.7501 18.7613C22.7507 18.0899 22.7511 17.5631 22.5729 17.0908C22.3759 16.5686 22.0246 16.1187 21.5658 15.8009C21.1508 15.5134 20.6297 15.3837 19.9631 15.2177L19.8424 15.1876L19.1341 15.0105L19.0298 14.9844C18.0453 14.7381 17.4111 14.5794 16.7737 14.593C16.2101 14.605 15.6532 14.7172 15.129 14.9244C14.5361 15.1588 14.0128 15.5507 13.2006 16.1591L13.1145 16.2236L10.6247 18.0879C8.64357 16.7757 6.98811 15.0845 5.71436 13.0698ZM12.0174 18.919C14.0654 20.0156 16.4117 20.7527 19.0099 21.0714C19.9402 21.1854 20.1746 21.1972 20.4153 21.1124C20.6861 21.017 20.992 20.7463 21.1197 20.4891C21.1666 20.3945 21.205 20.2653 21.2266 20.011C21.2494 19.7441 21.25 19.4009 21.25 18.8812C21.25 18.0311 21.2384 17.8028 21.1695 17.6203C21.0799 17.3829 20.9203 17.1785 20.7117 17.034C20.5518 16.9232 20.3251 16.8544 19.4786 16.6428L18.7703 16.4657C17.6457 16.1845 17.2174 16.0838 16.8057 16.0926C16.4201 16.1008 16.039 16.1776 15.6804 16.3194C15.2974 16.4708 14.9415 16.7295 14.0136 17.4243L12.0174 18.919ZM13.25 7.00002C13.25 6.58581 13.5858 6.25002 14 6.25002C15.0265 6.25002 15.934 6.88893 16.5475 7.5444C16.8911 7.91144 17.1822 8.32426 17.3909 8.73051C17.5921 9.12202 17.75 9.57168 17.75 10C17.75 10.4142 17.4142 10.75 17 10.75C16.5858 10.75 16.25 10.4142 16.25 10C16.25 9.91007 16.2063 9.70711 16.0568 9.41612C15.9148 9.13986 15.7059 8.84028 15.4524 8.56945C14.9562 8.03927 14.4186 7.75002 14 7.75002C13.5858 7.75002 13.25 7.41424 13.25 7.00002ZM14 3.25002C13.5858 3.25002 13.25 3.58581 13.25 4.00002C13.25 4.41424 13.5858 4.75002 14 4.75002C16.8995 4.75002 19.25 7.10053 19.25 10C19.25 10.4142 19.5858 10.75 20 10.75C20.4142 10.75 20.75 10.4142 20.75 10C20.75 6.2721 17.7279 3.25002 14 3.25002Z" fill="%23#{$color}"/></svg>');
}

@mixin email-color($color) {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect opacity="0.12" x="2" y="3" width="20" height="18" rx="5" fill="%23#{$color}"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10 2.25H9.96644C8.59472 2.25 7.51929 2.24999 6.65494 2.32061C5.77479 2.39252 5.04769 2.54138 4.38955 2.87671C3.30762 3.42798 2.42798 4.30762 1.87671 5.38955C1.54138 6.04769 1.39252 6.77479 1.32061 7.65494C1.24999 8.51929 1.25 9.59472 1.25 10.9664V11V13V13.0336C1.25 14.4053 1.24999 15.4807 1.32061 16.3451C1.39252 17.2252 1.54138 17.9523 1.87671 18.6104C2.42798 19.6924 3.30762 20.572 4.38955 21.1233C5.04769 21.4586 5.77479 21.6075 6.65494 21.6794C7.51927 21.75 8.59469 21.75 9.96637 21.75H9.96642H10H14H14.0336H14.0336C15.4053 21.75 16.4807 21.75 17.3451 21.6794C18.2252 21.6075 18.9523 21.4586 19.6104 21.1233C20.6924 20.572 21.572 19.6924 22.1233 18.6104C22.4586 17.9523 22.6075 17.2252 22.6794 16.3451C22.75 15.4807 22.75 14.4053 22.75 13.0336V13.0336V13V11V10.9664V10.9664C22.75 9.59469 22.75 8.51927 22.6794 7.65494C22.6075 6.77479 22.4586 6.04769 22.1233 5.38955C21.572 4.30762 20.6924 3.42798 19.6104 2.87671C18.9523 2.54138 18.2252 2.39252 17.3451 2.32061C16.4807 2.24999 15.4053 2.25 14.0336 2.25H14H10ZM5.07054 4.21322C5.48197 4.00359 5.9897 3.87996 6.77708 3.81563C7.57322 3.75058 8.58749 3.75 10 3.75H14C15.4125 3.75 16.4268 3.75058 17.2229 3.81563C18.0103 3.87996 18.518 4.00359 18.9295 4.21322C19.7291 4.62068 20.3793 5.27085 20.7868 6.07054C20.9964 6.48197 21.12 6.9897 21.1844 7.77708C21.2494 8.57322 21.25 9.58749 21.25 11V13C21.25 14.4125 21.2494 15.4268 21.1844 16.2229C21.12 17.0103 20.9964 17.518 20.7868 17.9295C20.3793 18.7291 19.7291 19.3793 18.9295 19.7868C18.518 19.9964 18.0103 20.12 17.2229 20.1844C16.4268 20.2494 15.4125 20.25 14 20.25H10C8.58749 20.25 7.57322 20.2494 6.77708 20.1844C5.9897 20.12 5.48197 19.9964 5.07054 19.7868C4.27085 19.3793 3.62068 18.7291 3.21322 17.9295C3.00359 17.518 2.87996 17.0103 2.81563 16.2229C2.75058 15.4268 2.75 14.4125 2.75 13V11C2.75 9.58749 2.75058 8.57322 2.81563 7.77708C2.87996 6.9897 3.00359 6.48197 3.21322 6.07054C3.62068 5.27085 4.27085 4.62068 5.07054 4.21322ZM6.41603 7.37596C6.07138 7.1462 5.60573 7.23933 5.37596 7.58397C5.1462 7.92862 5.23933 8.39427 5.58398 8.62404L6.58398 9.2907L6.70034 9.36829L6.70035 9.3683C8.19864 10.3674 9.09026 10.9619 10.0527 11.2519C11.3227 11.6346 12.6773 11.6346 13.9473 11.2519C14.9097 10.9619 15.8014 10.3674 17.2997 9.36829L17.416 9.2907L18.416 8.62404C18.7607 8.39427 18.8538 7.92862 18.624 7.58397C18.3943 7.23933 17.9286 7.1462 17.584 7.37596L16.584 8.04263C14.9337 9.14281 14.2367 9.59812 13.5145 9.81569C12.5268 10.1133 11.4732 10.1133 10.4855 9.81569C9.76334 9.59812 9.0663 9.14281 7.41603 8.04263L6.41603 7.37596Z" fill="%23#{$color}"/></svg>');
}

a[target="_blank"]:not([class]),
a[target="_blank"][class=""] {
    &::after {
        content: '';
        display: inline-flex;
        align-items: stretch;
        --size: 1em;
        width: var(--size);
        height: var(--size);
        margin-left: 0.25em;
        margin-bottom: 0.25em;
        @include external-color(ff6f61);
        background-size: 1.2em;
        background-position: top left;
        background-repeat: no-repeat;
    }
}

a[href*=".pdf"]:not([class]),
a[href*=".pdf"][class=""] {
    &::before {
        content: '';
        display: inline-flex;
        align-items: stretch;
        --size: 1em;
        width: var(--size);
        height: var(--size);
        margin-right: 0.25em;
        @include download-color(ff6f61);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(0, 5px);
    }
    &::after {
        display: none
    }
}

a[href*="tel:"]:not([class]),
a[href*="tel:"][class=""] {
    &::before {
        content: '';
        display: inline-flex;
        align-items: stretch;
        --size: 1em;
        width: var(--size);
        height: var(--size);
        margin-right: 0.25em;
        @include phone-color(ff6f61);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(0, 5px);
    }
    &::after {
        display: none
    }
}

a[href*="mailto:"]:not([class]),
a[href*="mailto:"][class=""] {
    &::before {
        content: '';
        display: inline-flex;
        align-items: stretch;
        --size: 1em;
        width: var(--size);
        height: var(--size);
        margin-right: 0.25em;
        @include email-color(ff6f61);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(0, 5px);
    }
    &::after {
        display: none
    }
}

.link__gradient {
    .link__gradient--colorized {
        display: inline;
        background-image: linear-gradient(
            to right,
            c(primary-base) 0%,
            c('secondary-base') 50%,
            c('base-2') 50%,
            c('base-2') 100%
        );
        background-size: 300% 100%;
        background-position-x: -225%;
        transition: 500ms ease;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;

        .arrow {
            transition-delay: 300ms;
            transition: 500ms cubic-bezier(0.86, 0, 0.07, 1);
        }
    }

    &:hover,
    &:focus {
        .link__gradient--colorized {
            background-position-x: -300%;

            .arrow {
                margin-left: 0.5em;
            }
        }
    }
}

.anchor-link {
    &-indicator {
        display: none;

        @include mq('tablet') {
            position: absolute;
            top: clamp(0.05rem, calc(-0.875rem + 1.75vw), 0.25rem);
            left: calc(-1em - 0.3vw);
            display: block;
            transform: scale(0.8);
            font-family: var(--font-family-base);
            font-weight: 500;
            text-decoration: none;
            opacity: 0.1;
            color: c('quaternary-base');
            transition: 0.3s ease;

            &[data-type='h2'] {
                top: clamp(0.125rem, calc(-0.875rem + 1.75vw), 0.5rem);
                opacity: 0.15;
            }

            &:hover {
                opacity: 0.8;
                color: c('primary-base');
            }
        }
    }
}
