ol:not([class]),
ul:not([class]),
dl:not([class]) {
    margin-top: fs('xl');
    margin-bottom: fs('xxxl');
    padding-left: 2em;
    padding-right: 2em;

    li,
    dt,
    dd {
        margin: 0;
        margin-bottom: fs('sm');
        padding-left: 0.75em;
        word-break: break-word;
        line-height: inherit;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

ul:not([class]) {
    list-style: disc;
}

ol:not([class]) {
    list-style: decimal;
}
