ol:not([class]),
ul:not([class]),
dl:not([class]) {
    margin-top: fs('xl');
    margin-bottom: fs('xxxl');
    padding-left: 2em;
    padding-right: 2em;

    li,
    dt,
    dd {
        margin: 0;
        margin-bottom: fs('sm');
        padding-left: 0.75em;
        word-break: break-word;
        line-height: inherit;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

ul:not([class]) {
    list-style: disc;

    li {
        &::marker {
            color: c('primary-base');
        }
    }
}

ol:not([class]) {
    list-style: decimal;
    counter-reset: section;

    li {
        counter-reset: section;

        &::marker {
            color: c('primary-base');
            content: '0' counter(list-item) '.';
            font-variant-numeric: tabular-nums;
            font-family: var(--font-family-mono);
            font-size: 0.875rem;

            @include mq('tablet') {
                @include fs-xxs;
            }
        }

        &:nth-of-type(n + 9) {
            &::marker {
                content: counter(list-item) '.';
            }
        }
    }
}
