select {
    appearance: none;
    display: flex;
    cursor: pointer;
    outline: none;
    border-radius: 0.375em;
    border-width: 1px;
    line-height: 1;
    font-size: 1rem;
    padding: 0.6rem 0.85rem;
    padding-right: 3.75rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyNSAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMjUzNDE4IDIuMTEwNTdDMC4yNTM0MTggMy4wMDIyMiAwLjk4NjgxNCAzLjcwOTEzIDEuODUxMTMgMy45MjgyMkM2LjIzNjk2IDUuMDM5OTYgOS44OTQwOSAxMC41MTg0IDEwLjU4NTggMTUuNDkzM0MxMC43MTEyIDE2LjM5NTkgMTEuNDQyMSAxNy4xMzc2IDEyLjM1MzQgMTcuMTM3NkMxMi4zNjE4IDE3LjEzNzYgMTIuMzcwMSAxNy4xMzc1IDEyLjM3ODQgMTcuMTM3NEMxMi4zODY3IDE3LjEzNzUgMTIuMzk1MSAxNy4xMzc2IDEyLjQwMzQgMTcuMTM3NkMxMy4zMTQ3IDE3LjEzNzYgMTQuMDQ1NiAxNi4zOTU5IDE0LjE3MTYgMTUuNDkzNEMxNC44NjYyIDEwLjUyMDYgMTguNTM1NiA1LjA0NDY5IDIyLjkwNiAzLjkyOTY3QzIzLjc2OTkgMy43MDkyNCAyNC41MDM0IDMuMDAyMjMgMjQuNTAzNCAyLjExMDU4QzI0LjUwMzQgMS4yMTg5MyAyMy43NzUyIDAuNDgzMDk3IDIyLjg5NTkgMC42MzE0MjFDMTguMzIzNCAxLjQwMjc5IDE0LjQ1MiA1LjM3Mzc5IDEyLjM3ODQgMTAuMDA1OUMxMC4zMDQ4IDUuMzczNzkgNi40MzMzOSAxLjQwMjc5IDEuODYwOSAwLjYzMTQyQzAuOTgxNjcgMC40ODMwOTUgMC4yNTM0MTggMS4yMTg5MiAwLjI1MzQxOCAyLjExMDU3WiIgZmlsbD0iIzBCMEUxMSIvPgo8L3N2Zz4K);
    background-position: right 0.75rem center;
    background-size: 11px 11px;
    background-repeat: no-repeat;
    background-color: c('base-8');
    border-color: c('base-8');
    color: c('base-1');

    html[theme='dark'] & {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjUgMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJtMC4yNTM0MiAyLjExMDZjMCAwLjg5MTY1IDAuNzMzNCAxLjU5ODYgMS41OTc3IDEuODE3NiA0LjM4NTggMS4xMTE3IDguMDQzIDYuNTkwMiA4LjczNDcgMTEuNTY1IDAuMTI1NCAwLjkwMjYgMC44NTYzIDEuNjQ0MyAxLjc2NzYgMS42NDQzIDAuMDA4NCAwIDAuMDE2Ny0xZS00IDAuMDI1LTJlLTQgMC4wMDgzIDFlLTQgMC4wMTY3IDJlLTQgMC4wMjUgMmUtNCAwLjkxMTMgMCAxLjY0MjItMC43NDE3IDEuNzY4Mi0xLjY0NDIgMC42OTQ2LTQuOTcyOCA0LjM2NC0xMC40NDkgOC43MzQ0LTExLjU2NCAwLjg2MzktMC4yMjA0MyAxLjU5NzQtMC45Mjc0NCAxLjU5NzQtMS44MTkxcy0wLjcyODItMS42Mjc1LTEuNjA3NS0xLjQ3OTJjLTQuNTcyNSAwLjc3MTM3LTguNDQzOSA0Ljc0MjQtMTAuNTE4IDkuMzc0NS0yLjA3MzYtNC42MzIxLTUuOTQ1LTguNjAzMS0xMC41MTgtOS4zNzQ1LTAuODc5MjMtMC4xNDgzMi0xLjYwNzUgMC41ODc1LTEuNjA3NSAxLjQ3OTJ6IiBmaWxsPSIjRjRGMUVFIi8+Cjwvc3ZnPgo=);
    }
}
