body {
    font-family: $font-0;
    font-size-adjust: 0.5;
    font-kerning: none;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

p,
ol,
ul,
dl,
li,
table,
small {
    // font-size: clamp(1.2rem, -0.875rem + 3vw, 1.953rem);
    @include fs-sm;

    + h2,
    + a[name] + h2,
    + h3,
    + a[name] + h3,
    + h4,
    + a[name] + h4,
    + h5,
    + a[name] + h5 {
        margin-top: 1em;
    }
}

p {
    margin-bottom: 0.5em;

    + p {
        margin-top: 1.5em;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

small {
    @include fs-xs;
}

h1 {
    @include fs-max;
}

h2 {
    @include fs-xxl;
}

h3 {
    @include fs-xl;
}

h4 {
    @include fs-lg;
}

h5 {
    @include fs-md;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.25;
    margin-bottom: 0.5em;
    font-weight: 500;
}

h2,
h3,
h4,
h5 {
    margin-top: 1.5em;

    + h2,
    + h3,
    + h4 {
        margin-top: 0.75em;
    }
}

h3 + h4 {
    margin-top: 0;
}

strong {
    font-weight: 500;
    display: inline-block;
    color: c('base-0');
}

em {
    font-style: italic;
}
