@font-face {
    font-family: 'MonoLisa';
    src: url('MonoLisa-Regular.woff2') format('woff2'), url('MonoLisa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonoLisa';
    src: url('MonoLisa-RegularItalic.woff2') format('woff2'), url('MonoLisa-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
