$colors: (
    background: #f4f1ee,
    menu: (
        background: #0b0e11,
        color: #f4f1ee,
        navicon: #0b0e11,
    ),
    splash: (
        background: #000000,
    ),
    traveler: (
        background: #f4f1ee,
    ),
    cursor: #f4f1ee,
    base: (
        0: #0b0e11,
        1: #13161b,
        2: #1c1f26,
        3: #000000,
        4: #181e24,
        5: #252f39,
        6: #8b97ac,
        7: #b1bac8,
        8: #d8dce3,
        9: #f4f1ee,
    ),
    primary: (
        lightest: lighten(#ff6f61, 24%),
        lighter: lighten(#ff6f61, 16%),
        light: lighten(#ff6f61, 8%),
        base: #ff6f61,
        dark: darken(#ff6f61, 8%),
        darker: darken(#ff6f61, 16%),
        darkest: darken(#ff6f61, 24%),
    ),
    secondary: (
        lightest: lighten(#5a5b9f, 24%),
        lighter: lighten(#5a5b9f, 16%),
        light: lighten(#5a5b9f, 8%),
        base: #5a5b9f,
        dark: darken(#5a5b9f, 8%),
        darker: darken(#5a5b9f, 16%),
        darkest: darken(#5a5b9f, 24%),
    ),
    tertiary: (
        lightest: lighten(#f0c05a, 24%),
        lighter: lighten(#f0c05a, 16%),
        light: lighten(#f0c05a, 8%),
        base: #f0c05a,
        dark: darken(#f0c05a, 8%),
        darker: darken(#f0c05a, 16%),
        darkest: darken(#f0c05a, 24%),
    ),
);

$dark: (
    background: #13161b,
    menu: (
        background: #0b0e11,
        color: #f4f1ee,
        navicon: #f4f1ee,
    ),
    splash: (
        background: hsl(0deg 0% 0%),
    ),
    traveler: (
        background: hsl(218deg 17% 9%),
    ),
    base: (
        9: hsl(210deg, 21%, 5%),
        8: hsl(218deg, 17%, 9%),
        7: hsl(222deg, 15%, 13%),
        6: hsl(0deg, 0%, 0%),
        5: hsl(217deg, 17%, 74%),
        4: hsl(210deg, 21%, 18%),
        3: hsl(218deg, 17%, 61%),
        2: hsl(217deg, 17%, 74%),
        1: hsl(218deg, 16%, 87%),
        0: hsl(216deg, 15%, 94%),
    ),
);
