$colors: (
    background: #f4f1ee,
    base: (
        0: #0b0e11, //Rich Black FOGRA 39
        1: #13161B, // Rich Black FOGRA 29
        2: #1C1F26,  // Rasin Black
        3: #000000,
        4: #181E24,
        5: #252F39
    ),
    primary: (
        lightest: lighten(tomato, 24%),
        lighter: lighten(tomato, 16%),
        light: lighten(tomato, 8%),
        base: tomato,
        dark: darken(tomato, 8%),
        darker: darken(tomato, 16%),
        darkest: darken(tomato, 24%)
    ),
    // secondary: (
    //     lightest: lighten(#f7768e, 24%),
    //     lighter: lighten(#f7768e, 16%),
    //     light: lighten(#f7768e, 8%),
    //     base: #f7768e,
    //     dark: darken(#f7768e, 8%),
    //     darker: darken(#f7768e, 16%),
    //     darkest: darken(#f7768e, 24%)
    // ),
    // tertiary: (
    //     lightest: lighten(#ffdb69, 24%),
    //     lighter: lighten(#ffdb69, 16%),
    //     light: lighten(#ffdb69, 8%),
    //     base: #ffdb69,
    //     dark: darken(#ffdb69, 8%),
    //     darker: darken(#ffdb69, 16%),
    //     darkest: darken(#ffdb69, 24%)
    // )
);

// primary: (
// lightest: lighten(#b267e6, 24%),
// lighter: lighten(#b267e6, 16%),
// light: lighten(#b267e6, 8%),
// base: #b267e6,
// dark: darken(#b267e6, 8%),
// darker: darken(#b267e6, 16%),
// darkest: darken(#b267e6, 24%)
// ),
// secondary: (
// lightest: lighten(#f7768e, 24%),
// lighter: lighten(#f7768e, 16%),
// light: lighten(#f7768e, 8%),
// base: #f7768e,
// dark: darken(#f7768e, 8%),
// darker: darken(#f7768e, 16%),
// darkest: darken(#f7768e, 24%)
// ),
// tertiary: (
// lightest: lighten(#ffdb69, 24%),
// lighter: lighten(#ffdb69, 16%),
// light: lighten(#ffdb69, 8%),
// base: #ffdb69,
// dark: darken(#ffdb69, 8%),
// darker: darken(#ffdb69, 16%),
// darkest: darken(#ffdb69, 24%)
// ),
// quarternary: (
// lightest: lighten(#11c9c3, 24%),
// lighter: lighten(#11c9c3, 16%),
// light: lighten(#11c9c3, 8%),
// base: #11c9c3,
// dark: darken(#11c9c3, 8%),
// darker: darken(#11c9c3, 16%),
// darkest: darken(#11c9c3, 24%)
// ),
// quinary: (
// lightest: lighten(#89ddff, 24%),
// lighter: lighten(#89ddff, 16%),
// light: lighten(#89ddff, 8%),
// base: #89ddff,
// dark: darken(#89ddff, 8%),
// darker: darken(#89ddff, 16%),
// darkest: darken(#89ddff, 24%)
// ),
// sextet: (
// lightest: lighten(#444b6a, 24%),
// lighter: lighten(#444b6a, 16%),
// light: lighten(#444b6a, 8%),
// base: #444b6a,
// dark: darken(#444b6a, 8%),
// darker: darken(#444b6a, 16%),
// darkest: darken(#444b6a, 24%)
// ),
