// tiny
@mixin fs-xxs() {
    font-size: var(--font-size-xxs);
    line-height: var(--line-height-lg);
}

// small
@mixin fs-xs() {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xl);
}

// p
@mixin fs-sm() {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-xxl);
    margin-bottom: var(--flow-space-md);
    font-weight: 400;
    color: c('base-5');
}

// h5
@mixin fs-md() {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    line-height: var(--line-height-xl);
    font-weight: 400;
    margin-bottom: var(--flow-space-md);
}

// h4
@mixin fs-lg() {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    line-height: var(--line-height-xl);
    font-weight: 400;
    margin-bottom: var(--flow-space-md);
}

// h3
@mixin fs-xl() {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    line-height: var(--line-height-lg);
    font-weight: 400;
    margin-bottom: var(--flow-space-md);
}

// h2
@mixin fs-xxl() {
    font-family: var(--font-family-fancy);
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
    line-height: var(--line-height-md);
    margin-bottom: var(--flow-space-md);
}

// h1 - small variant
@mixin fs-xxxl() {
    font-family: var(--font-family-fancy);
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xxxl);
    line-height: var(--line-height-xs);
    margin-bottom: var(--flow-space-md);
}

// h1
@mixin fs-max() {
    font-family: var(--font-family-fancy);
    font-size: var(--font-size-max);
    line-height: var(--line-height-xs);
    margin-bottom: var(--flow-space-md);
}
