@font-face {
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('~assets/fonts/ogg/Ogg-Bold.woff2') format('woff2'),
         url('~assets/fonts/ogg/Ogg-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('~assets/fonts/ogg/Ogg-Medium.woff2') format('woff2'),
        url('~assets/fonts/ogg/Ogg-MediumItalic.woff') format('woff');
}
